.overlay-text {
  background: goldenrod;
  width: fit-content;
  position: absolute;
  right: 0;
  bottom: 0;
}

.highlight-text {
  background: goldenrod;
  position: relative;
  width: fit-content;
  margin: 0 auto;
  opacity: 1;
  text-align: center;
  padding: 12px;
}

.cite {
  font-size: 8px;
  text-decoration: underline !important;
  position: absolute !important;
  bottom: 0;
  left: 0;
}

.cite-right {
  font-size: 8px;
  text-decoration: underline !important;
  position: absolute !important;
  bottom: 0;
  right: 0;
}

@keyframes rough-animated {
  to {
    stroke-dashoffset: 0;
  }
}

.svg-background {
  position: absolute;
  left: -175px;
  top: -75px;
}
