.overlay-text {
  background: goldenrod;
  width: fit-content;
  position: absolute;
  right: 0;
  bottom: 0;
}

.cite {
  font-size: 8px;
  text-decoration: underline !important;
  position: absolute !important;
  bottom: 0;
  left: 0;
}

.cite-right {
  font-size: 8px;
  text-decoration: underline !important;
  position: absolute !important;
  bottom: 0;
  right: 0;
}
